<!DOCTYPE html>
<html class="no-js" lang="fr" />
	{{> head meta-title=home.meta-title meta-description=home.meta-description}}
	<body class="index">

    {{> banner }}

    <main class="container">
      {{> articles }}
      {{> services }}
    </main>
	   {{> footer}}
	</body>
</html>
