<!DOCTYPE html>
<html class="no-js" lang="es" />
	{{> head meta-title=home.meta-title meta-description=home.meta-description}}
	<body class="index">

    {{> banner }}

    <main class="container">
      {{> articles }}
    </main>
    

	   {{> footer}}
	</body>
</html>
