*,
*::before,
*:after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	margin: 0;
  font-family: $font-family;
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: linear-gradient(0deg, rgba(255,255,255,1) 65%, var(--primary) 94%);

}

h1,
h2,
h3,
h4,
h5,
h6 {
	padding: 0;
  margin: 0;
  color: var(--text-color-accent);
}

img {
	max-width: 100%;
	display: block;
}

a {
  color: inherit;
  text-decoration: none;
}
