.articles {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-gap: 6rem;
  @include tablet {
    grid-template-columns: 1fr;
  }
}

.principles {
  &__title {
    font-size: 1rem;
    margin-bottom: .60rem;
  }
}

.principles-atractions {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-gap: .55rem;
}
