.main-footer {
  margin-top: auto;
  background-color: var(--light-blue);
  text-align: center;

  font-size: .85rem;
  padding-bottom: .55rem;

  &__links {
    display: flex;
    justify-content: center;
    .nav {
      &__item {
        text-transform: uppercase;
        &::after {
          content: '';
          width: 1px;
          height: 3px;
          background: red;
        }
      }
    }
  }
  &__about {
    display: flex;
    justify-content: center;
    p {
      &:first-child{
        margin-right: .55rem;
      }
    }
  }
}

