// Typography
$font-family: 'sans-serif';


:root {

  --primary: #044f6e;
  --secondary: #35b4e1;
  --terceary: #1c81aa;

  --accent-blue: #09b8f2;
  --light-blue: #e4f0f6;

  --text-color: #406e7f;
  --text-color-accent: #012548;
}
