<div class="box-room">
  <div class="form__group">
    <label class="form__label" for="rooms">
      Quartos
    </label>
    <select class="form__select" name="rooms" id="rooms">
      <option value="1" selected>1</option>
      <option value="2">2</option>
      <option value="3">3</option>
    </select>
  </div>
  <div class="box-room__pax" id="box-room-pax"></div>
  <div class="form__group">
    <button class="button--cta" type="submit">
      Reservar
    </button>
  </div>
</div>
