<div class="discover">
  <h2 class="discover__title">
    Descubra o Rio de Janeiro
  </h2>
  <p class="discover__info">
    A ciudade maravillhosa espera por vocé o ano inteiro para dias fantasticos  num cenaro inesquecevil.
    Sol, praia e pasaignes magnificas, aquí o e lugar certo para urna  <span class="bold-big-size">deliciosa viagem!</span>
  </p>
  <div class="card-discover">
    <div class="card-discover__description">
      <h3 class="card-discover__title">
        Monte <br> seu pacote
      </h3>
      <p class="card-discover__info">
        <span class="card-discover__info-text-principle">12x</span>
        <span class="card-discover__info-text-top">
          em até
        </span>
        <span class="card-discover__info-text-left">
          sem juros
        </span>
      </p>
    </div>
    <img src="http://cache-graphicslib.viator.com/graphicslib/thumbs674x446/2484/SITours/excursi-n-de-medio-d-a-al-pan-de-az-car-in-rio-de-janeiro-121552.jpg" alt="">
  </div>
</div>
