<footer class="main-footer">
  <div class="container">
    <div class="main-footer__links">
      <ul class="nav">
        <li class="nav__item">
          <a class="nav__link" href="">
            Quem somos
          </a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="">
            Politica de confidenciale
          </a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="">
            Condicioes
          </a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="">
            Ajuda
          </a>
        </li>
      </ul>
    </div>
    <div class="main-footer__about">
      <p>
        2012. riodejaneiro.com.br
      </p>
      <p>
        Todos os dereitos reservados. O uso desde website implica na acertaio de nossa politica de privacidade
      </p>
    </div>
  </div>
</footer>


<script type="text/javascript" src="./assets/js/scripts-min.js"></script>
