<form action="" method="post">
  <div>
    <div class="form-group">
      <label for="destination">destination/hotei</label>
      <input type="text" name="destination" id="destination" class="form-input">
    </div>
  </div>
  <div>
    <div class="form-group">
      <label for="checkin">Chegada</label>
      <input type="text" name="checkin" id="checkin" class="form-input">
    </div>
    <div class="form-group">
      <label for="checkout">Saida</label>
      <input type="text" name="checkout" id="checkout" class="form-input">
    </div>
  </div>
  <div>
    <div class="form-group">
      <label for="rooms">Quartos</label>
      <select name="rooms" id="rooms">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
      </select>
    </div>
    <div class="form-group">
      <label for="rooms">Quartos</label>
      <select name="rooms" id="rooms">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
      </select>
    </div>
    <div class="form-group">
      <label for="rooms">Quartos</label>
      <select name="rooms" id="rooms">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
      </select>
    </div>
    <div class="form-group">
      <button class="button--cta">
        Reservar agora
      </button>
    </div>
  </div>
</form>
