<form action="" method="post" class="hotel-form-reservation">
  <div class="hotel-form-reservation__item">
    <div class="form__group">
      <label class="form__label" for="destination">destination/hotei</label>
      <input type="text" name="destination" id="destination" class="form__input">
    </div>
  </div>
  <div class="hotel-form-reservation__item">
    <div class="form__group with-icon">
      <label class="form__label" for="checkin">Chegada</label>
      <div class="form__group-with-icon">
        <input type="date" name="checkin" id="checkin" class="form__input">
        <i class="fas fa-calendar-alt"></i>
      </div>
    </div>
    <div class="form__group with-icon">
      <label class="form__label" for="checkout">Saida</label>
      <div class="form__group-with-icon">
        <input type="date" name="checkout" id="checkout" class="form__input">
        <i class="fas fa-calendar-alt"></i>
      </div>
    </div>
  </div>
  {{> box-room }}
</form>
