<div class="main-hotel-info">
  <div class="hotel-info">
    <div class="container">
      <div class="hotel-info__top">
        <a class="logo" href="#">
          <img class="logo__image" src="https://s3.amazonaws.com/cdn.henryraygan.com/portfolio/0_logo.png" alt="">
          <p class="logo__text">
            Hoteis no <br>
            <span>Rio de janeiro</span>
          </p>
        </a>
        <p class="central-reservations-number">
          Central de reservas:
          <br>
          <span class="number-central">
            01 800 012 5412
          </span>
        </p>
      </div>
    </div>
  </div>
  <div class="container">
    {{> navbar }}
  </div>
</div>
