<div class="ofert">
  <div class="ofert__band">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
  <div class="ofert__content">
    <p class="ofert__subtitle">Hoteis no</p>
    <h2 class="ofert__title">
      Rio de janeiro
    </h2>
    <p>a partir de</p>
    <p class="ofert__price-icon">R $ <span class="ofert__price">890</span></p>
    <button class="button--cta">
      Reservar agora
    </button>
  </div>
</div>
