<div class="search-box">
  <div class="search-box__form">
    <div class="tab">
      <div class="tab__title">
        Reserve en linea
      </div>
      <ul class="tab__options">
        <li class="tab__option-item active">
          <button class="tab__option-button">
            Hoteis
          </button>
        </li>
        <li class="tab__option-item">
          <button class="tab__option-button">
            Hoteis
          </button>
        </li>
        <li class="tab__option-item">
          <button class="tab__option-button">
            Hoteis
          </button>
        </li>
        <li class="tab__option-item">
          <button class="tab__option-button">
            Hoteis
          </button>
        </li>
      </ul>
      <div class="tab__panels">
        <div class="tab__panel">
          {{> form-hotel}}
        </div>
      </div>
    </div>
  </div>
  <div class="search-box__offer">
    oferta
  </div>
</div>
