<div class="search-box">
  <div class="search-box__form">
    <div class="tab">
      <ul class="tab__options">
        <button>
          Hoteis
        </button>
      </ul>
      <div class="tab__panels">
        <div class="tab__panel">
          Hoteis
        </div>
      </div>
    </div>
  </div>
  <div class="search-box__offer">
    oferta
  </div>
</div>
