<div class="services">
  <ul class="services__list">
    <li class="services__item">
      <i class="fas fa-star"></i>
      <p>atracoes e lazer</p>
    </li>
    <li class="services__item">
      <i class="fas fa-ticket-alt"></i>
      <p>diversao e compras</p>
    </li>
    <li class="services__item">
      <i class="fas fa-map-signs"></i>
      <p>dicas ao turista</p>
    </li>
    <li class="services__item">
      <i class="fas fa-umbrella-beach"></i>
      <p>Nossas praias</p>
    </li>
    <li class="services__item">
      <i class="fas fa-suitcase"></i>
      <p>servicios locais</p>
    </li>
  </ul>
</div>
