<div class="main-header__slider">
  <img class="main-header__slider-image" src="https://www.estacionesdelano.com/wp-content/uploads/2018/02/rio-de-janeiro-oto%C3%B1o-1024x744.jpg" alt="">
  <img class="main-header__slider-image" src="https://www.hola.com/imagenes/viajes/2016080587586/rio-de-janeiro-miradores-brasil/0-382-626/Rio-de-janeiro-brasil-t.jpg" alt="">
  <img class="main-header__slider-image" src="https://playastop.com/wp-content/uploads/2018/12/5-Pan-de-Az%C3%BAcar..jpg" alt="">
</div>
